<main>
    <h1>Add New Classification</h1>

    <% if (errors && errors.length> 0) { %>
        <div class="errors">
            <ul>
                <% errors.forEach(function(error) { %>
                    <li>
                        <%= error %>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <% } %>

            <form action="/inv/add-classification" method="post">
                <label for="classification_name">Classification Name:</label>
                <input type="text" id="classification_name" name="classification_name" required minlength="3"
                    maxlength="30" value="<%= typeof classification_name !== 'undefined' ? classification_name : '' %>">

                <button type="submit">Add Classification</button>
            </form>
            </main>