<main>
    <h1>Inventory Management</h1>

    <% if (message) { %>
        <div class="message">
            <%= message %>
        </div>
        <% } %>

            <ul>
                <li><a href="/inv/add-classification">Add New Classification</a></li>
                <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
            </ul>
            </main>