<%- include('../partials/header', { title: title }) %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <div>
            <%- grid %>
        </div>
    </main>

    <%- include('../partials/footer') %>